PORT=5000
DATABASE_URL=postgresql://[USER]:[PASSWORD]@db.[SUPABASE-ID].supabase.co:5432/postgres
JWT_SECRET=rahasia_jwt_kamu_di_sini
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxx
SMTP_FROM=MindEase <email_kamu@gmail.com>
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=2525
SMTP_USER=email_brevo_kamu@gmail.com
SMTP_PASS=password_smtp_brevo_kamu
FRONTEND_URL=http://localhost:5173
